@use './variables.module.scss' as variables;

body {
  background: linear-gradient(225deg, variables.$primaryColor, variables.$secondaryColor);
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.ant-card-hoverable {
  cursor: pointer;
}
