@use '../../styles/variables.module.scss' as variables;

.page {
  padding: 1rem;
  min-height: 100vh;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.nav {
  position: fixed;
  top: 4rem;
  right: 1rem;
  z-index: 1000;
  display: inline-flex;
}
