@use './variables.module.scss' as variables;

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.page {
  background: linear-gradient(225deg, variables.$bg-start, variables.$bg-end);
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.header {
  position: sticky;
  z-index: 10;
  display: flex;
  justify-content: end;
  width: 100vw;
  padding: 1rem;
}

.menus {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 16px;

  .cardLink {
    display: block;
    text-decoration: none;
    color: inherit;
  }

  .card {
    width: 100%;
    min-width: 240px;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
